<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
            <img src="../../../assets/LogosInti.png" id="logoInti">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"target="_blank"><img src="../../../assets/medios-de-comunicacion-social.png" id="social"></a>
                <a href="https://github.com/MarianoMedina2022"target="_blank"><img src="../../../assets/github2.0.png" id="github"></a>
                <a href="https://www.facebook.com/mariano.medina.3517563/"target="_blank"><img src="../../../assets/facebook2.0.png" id="facebook"></a>
                <a href="https://www.linkedin.com/in/mariano-medina-8b9a781a1"target="_blank"><img src="../../../assets/linkedin2.0.png" id="linkedin"></a>
                <a href="https://www.instagram.com/mariano.medina1601/"target="_blank"><img src="../../../assets/instagram2.0.png" id="instagram"></a>
                <button type="button" class="btn btn-outline-dark" (click)="login()">INGRESO</button>
            </div>
        </div>
    </div>

</div>
