<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>proyecto 1</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem quod quaerat fugit recusandae, autem consequuntur tenetur iste? Cupiditate repudiandae, dolorum maiores nesciunt quibusdam laudantium non quia perspiciatis ullam odit assumenda.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/what-is-a-full-stack-developer-768x384.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
