<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="col-lg-2">
    <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
    <circle-progress
      [percent]="(skill.porcentaje)"
      [title]="(skill.nombre)"
      [showUnits]="false"
      [showTitle]="true"
      [titleColor]="'#1b4f8f'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [radius]="100"
      [imageSrc]="''"
      [imageHeight]="90"
      [imageWidth]="90"
      [showImage]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#6c4675'" [innerStrokeColor]="'#6DC36D'"
      [animation]="true"
      [animationDuration]="1000">
    </circle-progress>

    <div>
      <td *ngIf="isLogged"><button type="button" class="btn btn-outline-primary"
        routerLink="/editskill/{{skill.id}}"><i class="bi bi-pen-fill"></i></button></td>
    <td *ngIf="isLogged"><button type="button" class="btn btn-outline-danger" (click)="delete(skill.id)"><i
          class="bi bi-trash-fill"></i></button></td>
    </div>


  </div>
</div>
